


#lista1 {
  ion-label {
    h2 {
      color: #0000ff;
    }
  }
}


ion-item {
  font-size: large;
}


ion-grid{
  border: 1px solid #0000ff;
  ion-row {
    border: 1px solid #0000ff;
    ion-col {
      border: 1px solid #0000ff;
    }
  }
}



.salarioAlto {
  background-color: red;
  color: white;
}