<ion-header>
  <ion-toolbar>
    <ion-title>lista-empleos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2>Tiutlo</h2>

  <ion-content fullscreen>
    <ion-list id="lista1">
      <ion-list-header>
        Empleos
      </ion-list-header>

      <ion-item *ngFor="let empleo of empleados | async; trackBy: trackByFn">
        <ion-avatar slot="start">
          <img src="../../../../assets/img/avatar-ben.png">
        </ion-avatar>
        <ion-label (click)="showEmpleo(empleo.uid)" >
          <h2>{{empleo.titulo}}</h2>
          <h3>{{empleo.descripcion}}</h3>
          <p  [class]="empleo.salario>1000?'salarioAlto':''"   >{{empleo.salario}}</p>
          <p>{{empleo.iess}}</p>
        </ion-label>
      </ion-item>
    </ion-list>


    <ion-list id="lista1">
      <ion-list-header>
        Empleos con IESS 
      </ion-list-header>

      <ion-item *ngFor="let empleo of empleados2">
        <ion-avatar slot="start">
          <img src="../../../../assets/img/avatar-ben.png">
        </ion-avatar>
        <ion-label (click)="showEmpleo(empleo.uid)" >
          <h2>{{empleo.titulo}}</h2>
          <h3>{{empleo.descripcion}}</h3>
          <p [class]="empleo.class">{{empleo.salario}}</p>
          <p>{{empleo.iess}}</p>
        </ion-label>
      </ion-item>
    </ion-list>


    <ion-list>
      <ion-list-header>
        Citas
      </ion-list-header>

      <ion-item *ngFor="let cita of citas">
        <ion-avatar slot="start">
          <img src="./avatar-poe.png">
        </ion-avatar>
        <ion-label>
          <h2>{{cita.data}}</h2>
          <h2>{{cita.uid}}</h2>
          <p>{{cita.nombre}}</p>
        </ion-label>
      </ion-item>

    </ion-list>
 

    <ion-list>
      <ion-list-header>
        Cosas
      </ion-list-header>

      <ion-item *ngFor="let cosa of cosas">
        <ion-avatar slot="start">
          <img src="./avatar-poe.png">
        </ion-avatar>
        <ion-label>
          <h2>{{cosa.id}}</h2>
          <p>{{cosa.nombre}}</p>
        </ion-label>
      </ion-item>

    </ion-list>
 
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="showCrearEmpleo()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>
